body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

.top-section {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 8px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.intro-section {
    display: flex;
    gap: 48px;
    margin: 64px 0;
}

.content {
    width: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 24px;
}

.main-text {
    margin: 0;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-links, .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up-button {
    border: 0;
    border-radius: 8px;
    padding: 10px 36px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 700;
    background-color: #3882f6;
}

.heading {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.about-img {
    border: 4px solid #3882f6;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    height: 150px;
}

.about {
    text-align: center;
    width: 150px;
}

.quote-section {
    background-color: #e5e7eb;
    margin-top: 72px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;

    width: 500px;
    margin: 0 auto;
    padding: 40px 0;
}

.name {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    font-style: normal;
}

.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 80px 0;
}

.signup-dialog-box {
    background-color: #3882f6;
    width: 800px;
    border-radius: 8px;
    padding: 36px;

    color: #f9faf8;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.signup-dialog-box p, .signup-dialog-box h3 {
    margin: 4px;
    padding: 0;
}

.secondary-signup {
    border: 2px solid #f9faf8;
}

